.form-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 125px;
}

@media screen and (max-width:320px) {
        .form-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding-top: 150px;
        }
}

.headline {
    align-self: center;
}

.paragraph {
    align-self: center;
}

@media screen and (max-width:320px) {
    .paragraph {
        font-size: 15px;
        max-width: fit-content;
        max-width: 250px;
    }    
}

.form-items {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: auto;
}

.name-input {
    border-radius: 5px;
    border-style: none;
}

.email-input {
    border-radius: 5px;
    border-style: none;
}

.message-input {
    height: 200px;
    border-radius: 5px;
    border-style: none;
}

@media screen and (max-width:320px) {
    .message-input {
        height: 100px;
    }
}

.button-send {
    background-color: #f7f7f7;
    padding: 5px 20px 5px 20px;
    color: black;
    width: 25%;
    align-self: center;
    margin-top: 50px;
    border-radius: 5px;
    font-weight: 900;
}

@media screen and (max-width:320px) {
    .button-send {
        background-color: #f7f7f7;
        padding: 1px 20px 1px 20px;
        color: black;
        width: 50%;
        align-self: center;
        margin-top: 20px;
        border-radius: 5px;
        font-weight: 900;

    }
}

@media screen and (max-width:425px) {
    .button-send {
        background-color: #f7f7f7;
        padding: 1px 20px 1px 20px;
        color: black;
        width: 50%;
        align-self: center;
        margin-top: 20px;
        border-radius: 5px;
        font-weight: 900;

    }
}




