.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 950px;
  margin: auto;
}

.name {
  font-size: 20px;
  color:slategray;
}

.job-title {
  font-size: 20px;
  margin-top: -10px;
}

.greeting-heading {
    font-size: 64px;
  }

.scroll-button {
  align-self: center;
  margin-top: 70px;
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  color: white;
  background-color: black;
  border: 0px;
}