.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  min-height: 100vh;
}

.name {
  position: relative;
}

.job-title {
  
}