
.NavbarItems {
    display: flex;
    text-decoration: none;
    font-style: normal;
    position: fixed;
    padding-top: 30px;
    justify-content: center;
  }

.navbar-logo {
    justify-self: start;
    margin-left: 50px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    list-style: none;
    width: 90vw;
    justify-content: end;
    cursor: pointer;
}

