.project-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
}

.blackout-png {
    align-items: center;
}

.blackout-heading {
    padding-top: 50px;
    align-self: center;
}

.paragraph {
    align-self: center;
}