.resume-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 100vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-button {
    align-self: center;
    margin-top: -800px;
}

/* .education {
} */
/* .experience {
    position: relative;
    margin-left: 500px;
}*/