.resume-container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.skills {
    align-items: center;
}

.skills-list {
    list-style: none;
}

.experience {
    align-items: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.download-resume {
    align-items: center;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    color: white;
    background-color: black;
    border: 0px;
    margin: -70px auto 100px auto;
    cursor: pointer;
}