.App {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 30px;
}

.button {
    border-radius: 5px;
    background-color: transparent;
    color: black;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    font-weight: 900;
  }

  .button:hover {
    background-color: #2D4356;
    color: whitesmoke;
    border-color: black;
    border-radius: 5px;

}